/* MODAL - NEW FILE */

.modal-new {
  display: none; /* Hide by default */
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto; /* Full-screen background */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  min-height: 100%;
  min-width: 100%;
}

/* Modal content box styling */
.modal-new-content {
  position: relative;
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 8px;
  width: 50%;
  width: 600px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Close button styling */
.close-btn-new {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #333;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  width: 30px; /* Set consistent width */
  height: 30px; /* Set consistent height */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; /* Ensure circular base */
  padding: 0; /* Remove additional padding */
}

.close-btn-new:hover {
  background-color: #fff6e8;
  border-radius: 50%; /* Keep rounded shape */
}


/* Modal header styling */
.modal-new h2 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

/* Choose file button styling */
.choose-file-btn {
  display: inline-block;
  background-color: #fff6e8;
  color: #383838;
  padding: 5px 16px;
  border: 1px solid #383838;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.choose-file-btn:hover{
  background-color: #fdf0df;
}

/* "No file chosen" text styling */
.file-chosen-text {
  color: #777;
  font-style: italic;
  font-size: 12px;
}

/* Input fields container (for Item Name and Description) */
.modal-fields-row {
  display: flex;
  gap: 20px; /* Space between the fields */
  margin-bottom: 5px; /* Add space below row */
}

/* Field styling (Category, Date) */
.modal-field {
  flex: 1;
}

.modal-label {
  display: block;
  font-size: 14px;
  color: #333;
  margin-top: 15px;
  margin-bottom: 0px;
}

.modal-input,
.modal-textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.modal-input-icon {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  padding-left: 30px; /* Add padding to make space for the icon */
}


/* Textarea specific styling */
.modal-textarea {
  resize: vertical; /* Allow vertical resize */
  height: 100px; /* Set height for better visibility */
}




/* Buttons container */
.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0px; /* Space between buttons */
  margin-top: 20px; /* Spacing from fields above */
}

.modal-btn {
  background-color: #eadbc2;
  color: #383838;
  padding: 10px 20px;
  border: none;
  border-radius: 20px 20px 20px 20px;
  cursor: pointer;
  font-size: 13px;
  width: 15%;
}

.modal-btn {
  background-color: #f1e3ce;
}

.cancel-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  background-color: transparent;
  color: #777;
}

.cancel-btn:hover {
  background-color: #fff6e8; /* Keeps the same color */
  border: none; /* Removes any border change */
  cursor: pointer; /* Keeps the pointer */
  border-radius: 40px 40px 40px 40px;
}

.input-icon {
  position: relative; /* Create a positioning context */
}

.input-icon i {
  position: absolute; /* Position the icon absolutely */
  left: 10px; /* Adjust left spacing */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust to truly center */
  color: #777; /* Icon color */
}

.remove-file-btn {
  color: red; /* Change to your desired color */
  cursor: pointer;
  margin-left: 10px; /* Spacing from the file text */
  font-size: 18px; /* Adjust size as needed */
  display: inline; /* Ensure it's displayed inline */
}

/* END MODAL - NEW FILE */

/* MODAL - FILTER */
.modal-filter {
  display: none; /* Hide by default */
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

.modal-filter-content {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 45%;
  height: 70%;
  height: 550px;
  min-width: 500px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

}

.modal-filter h2 {
  margin-bottom: 30px;
}

/* Close button styling */
.close-btn-filter {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #333;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  width: 30px; /* Set consistent width */
  height: 30px; /* Set consistent height */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; /* Ensure circular base */
  padding: 0; /* Remove additional padding */
}

.close-btn-filter:hover {
  background-color: #fff6e8;
  border-radius: 50%; /* Keep rounded shape */
}


/* Filter input label and input field */
.filter-container {
  display: flex;
  align-items: center; /* Align items vertically center */
  margin-bottom: 15px; /* Space below each input */
}

.filter-label {
  font-size: 14px;
  color: #333;
  width: 30%; /* Consistent width for all labels */
  text-align: left; /* Align label text to the right */
  padding-right: 10px; /* Space between label and input */
  margin-bottom: 8px; /* Remove bottom margin */
}



.filter-input {
  flex-grow: 1; /* Allow input to take remaining space */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 8px;
}

.short-input {
  width: 60%;
  max-width: 200px;
}


/* Button Styles */
.apply-filter-btn {
  background-color: #eadbc2; /* Button background */
  color: #383838; /* Button text color */
  border: none;
  padding: 10px 15px;
  font-size: 13px;
  margin: 10px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.apply-filter-btn:hover {
  background-color: #f1e3ce; /* Darker shade on hover */
}

.reset-filter-btn {
  background-color: transparent;
  color: #383838;
  font-size: 12px;
  border: none;
  padding: 10px 15px;
  margin: 10px;
  cursor: pointer;
}

.reset-filter-btn:hover {
  background-color: #fff6e8;
  border-radius: 50px;
}

/* Checkbox container */
.checkbox-container {
  display: flex;
  align-items: center;
  font-size: 13px;
  margin-bottom: 5px; /* Space between each checkbox */
}



.checkbox-container input[type="checkbox"] {
  margin-right: 5px; /* Space between radio button and label */
  margin-left: 15px; /* Adjust spacing for layout */
}

.filter-container .date-range {
  display: flex;
  align-items: center;
}

.date-separator {
  margin: 0 10px; /* Space between "From" and "To" inputs */
  font-size: 13px;
  color: #777;
  line-height: 1;
}


/* END MODAL - FILTER */






/* MODAL - QUIT */

/* Button Style */
button {
    padding: 10px 20px;
    background-color: #f1e3ce;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    margin-top: 20px;
  }
  
  button:hover {
    background-color:#eadbc2;
  }
  
  /* Modal (Pop-up) Styles */
  .modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 400px;
    text-align: center;
    position: relative;
  }
  
  .modal-actions {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .modal-message {
    margin-top: 30px;
  }
  
  
/* Close Button "x" */
.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 25px;
  cursor: pointer;
  width: 30px; /* Set consistent width */
  height: 30px; /* Set consistent height */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; /* Ensure circular base */
  padding: 0; /* Remove additional padding */
}

.close-btn:hover {
  background-color: #fff6e8;
  border-radius: 50%; /* Keep rounded shape */
}



  /* END MODAL - QUIT */

  /* START MODAL - VERIFY IDENTITY */
  
.modal-verify {
  display: none; /* Hide by default */
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

.modal-verify-content {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 50%;
  height: 70%;
  height: 480px;
  min-width: 500px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.modal-verify h2 {
  margin-bottom: 30px;
}

/* Close button styling */
.close-btn-verify {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #333;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  width: 30px; /* Set consistent width */
  height: 30px; /* Set consistent height */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; /* Ensure circular base */
  padding: 0; /* Remove additional padding */
}

.close-btn-verify:hover {
  background-color: #fff6e8;
  border-radius: 50%; /* Keep rounded shape */
}






/* START- CARDS */

/* Container for the card */
.card-container {
  margin-left: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding: 20px;
  justify-content: left;
}

/* Card styling */
.card {
  position: relative;
  width: 300px;
  background-color: var(--light-beige);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow:hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  height: 220px;
  
}

/* Hover effect for the card */
.card:hover {
  background-color: #eadbc2;
}
.card.clicked {
  background-color: #eadbc2; /* New background color after click */
}
/* Card header image */
.card img {
  width: 100%;
  height: 100px;
  object-fit: fill;
  overflow: hidden;
  border: none;
}

/* Card content */
.card-content {
  padding: 15px;
}

.card-title {
  font-size: 15px;
  font-weight: bold;
  color: #383838;
  margin: 10px 10px 10px 10px;
  text-transform: uppercase;
}

.card-description {
  font-size: 0.9em;
  color: #666;
  line-height: 1.5;
}

/* PDF container */
.pdf-container {
  background-color: transparent;
  border-radius: 8px;
  padding: 0;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-around;/* Centers the embedded PDF inside */
}

/* Card styling for iframe */
.pdf-iframe {
  width: 90%; /* Adjusted to use percentage for more responsive behavior */
  height: 400px; /* Set a fixed height for a more consistent view */
  border: none;
  border-radius: 0px;
  background-color: transparent;
  padding: 5px;
  display: block; /* Prevents the iframe from stretching */
}

/* Hide scrollbars (for Firefox and Chrome) */
.pdf-iframe::-webkit-scrollbar {
  display: none;
}

.pdf-iframe {
  scrollbar-width: none; /* For Firefox */
}

/* Card Header */
.card-header {
  display: flex;
  align-items: center; /* Vertically align items */
  margin-top: 5px;

}

/* Container for the icon and title */
.file-info {
  display: flex;
  align-items: center; /* Align icon and title horizontally */
}

/* File Icon styling */
.file-icon {
  width: 20px; /* Adjust the icon size */
  height: 20px;
  margin-left: 15px; /* Add some space between the icon and the title */
}


/* Style for the three dots icon */
/* Style for the three dots icon */
.three-dots {
  font-size: 15px; /* Adjust the size of the three dots */
  margin-left: auto; /* Push it to the right */
  margin-right: 10px;
  cursor: pointer;
  color: #383838;
  transition: color 0.3s ease; /* Smooth color transition on hover */
  cursor: pointer; /* Change the cursor to pointer when hovering */
  display: flex; /* Center the dots inside the circle */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  width: 30px; /* Circle width */
  height: 30px; /* Circle height */
  border-radius: 50%; /* Make the element perfectly circular */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
  background-color: transparent; /* No background by default */
  box-shadow: none; /* No shadow by default */
}

/* Hover effect for the three dots */
.three-dots:hover {
  background-color: var(--peach-puff); /* Darker background color on hover */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Stronger shadow on hover */
}
.dropdown-menu {
 
  display: none;
  position: absolute;
  top: 50px;
  right: 10px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.dropdown-menu.active {
  display: block;
}

.dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 10px;
}

.dropdown-menu li {
  margin: 5px 0;
}

.dropdown-menu a {
  text-decoration: none;
  color: #333;
  cursor: pointer;
  display: block
}

.dropdown-menu a:hover {
  color: #007BFF;
}


/* START- CARDS */

/* Container for the card */
.card-container {
  margin-left: 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
  justify-content: left;
}

/* Card styling */
.card {
  width: 300px;
  background-color: var(--light-beige);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  height: 220px;
}

/* Hover effect for the card */
.card:hover {
  background-color: #eadbc2;
}

.card.clicked {
  background-color: #eadbc2;

}

/* Card header image */
.card img {
  width: 100%;
  height: 100px;
  object-fit: fill;
  overflow: hidden;
  border: none;
}

/* Card content */
.card-content {
  padding: 15px;
}

.card-title {
  font-size: 15px;
  font-weight: bold;
  color: #383838;
  margin: 10px 10px 10px 10px;
  text-transform: uppercase;
}

.card-description {
  font-size: 0.9em;
  color: #666;
  line-height: 1.5;
}

/* PDF container */
.pdf-container {
  background-color: transparent; /* Custom background color for the container */
  border-radius: 8px; /* Rounded corners for the container */
  padding: 0; /* Space between the PDF and container edges */
  max-width: 100%; /* Ensures the container stays within its parent */
  overflow: hidden; /* Ensures no scrollbars are shown for the container */
  display: flex;
  justify-content: center; /* Centers the embedded PDF inside */
}

/* Card styling for iframe */
.pdf-iframe {
  width: 90%; /* Adjusted to use percentage for more responsive behavior */
  height: 400px; /* Set a fixed height for a more consistent view */
  border: none;
  border-radius: 0px;
  background-color: transparent;
  padding: 5px;
  display: block; /* Prevents the iframe from stretching */
}

/* Hide scrollbars (for Firefox and Chrome) */
.pdf-iframe::-webkit-scrollbar {
  display: none;
}

.pdf-iframe {
  scrollbar-width: none; /* For Firefox */
}

/* Card Header */
.card-header {
  display: flex;
  align-items: center; /* Vertically align items */
  margin-top: 5px;
}

/* Container for the icon and title */
.file-info {
  display: flex;
  align-items: center; /* Alibackground-color: #f1e3ce;gn icon and title horizontally */
}

/* START - ICON IN CARD */


.file-icon {
  font-size: 20px;
  color: #383838;
}


  /* Icon Group Styling */
  .icon-group {
    display: flex;
    gap: 0px; /* Space between icons */
  }

  .icon {
    font-size: 20px;
    color: #383838;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.2s ease, padding 0.2s ease;
    margin-right: 5px;
    background-color: transparent; /* No background initially */
    border-radius: 50%; /* Ensures circular background */
    padding: 5px; /* Initial padding for a small circle */
  }

  .icon-group .icon:hover {
    background-color: #fdf0df; /* Add background */
    border-radius: 50%; /* Keep it circular */
    padding: 5px; /* Increase padding to make the circle bigger */
  }

  .icon.favorited,
  .icon.bxs-star {
    color: #383838; /* Yellow color for filled star */
   
  }
  

  
  .icon-group .icon:active {
    background-color: #fdf0df; /* Background change on click */
    padding: 5px; /* Maintain padding */
  }


/* Main content container */
.contentMain1 {
  margin-left: 270px;
  padding: 20px;
  padding-top: 70px;
  display: block;
}

/* Account heading */
.page-headinggg1 {
  margin-top: 15px;
  font-size: 24px;
  font-weight: bold;
  font-family: var(--ff-poppins);
  color: #4a4a4a;
  padding: 10px;
}

/* Divider line */
.divider1 {
  border: 1px solid #ccc;
  width: 95%;
  margin-top: 5px;
}

/* Container for the card */
.card-container1 {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
  justify-content: left;
  margin-left: 80px;
}



/* Main content container */
.contentMain2 {
  margin-left: 270px;
  padding: 20px;
  padding-top: 70px;
  display: block;
}

/* Account heading */
.page-headinggg2 {
  margin-top: 15px;
  font-size: 24px;
  font-weight: bold;
  font-family: var(--ff-poppins);
  color: #4a4a4a;
  padding: 10px;
}

/* Divider line */
.divider2 {
  border: 1px solid #ccc;
  width: 95%;
  margin-top: 5px;
}

/* Container for the card */
.card-container2 {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
  justify-content: left;
  margin-left: 80px;
}

/* START - MODAL TRASH */

.modal-trash {
  display: none;
  position: fixed;
  z-index: 1000; /* Ensures modal is above other elements */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content-trash {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border-radius: 5px;
  width: 30%;
  text-align: center;
  position: relative;
}

.modal-content-trash p {
  margin-top: 40px; /* Adjust this value for the desired spacing */
  font-size: 14px;
  color: black;
}


.close-btn-trash {
  position: absolute;
  top: 10px;
  right: 15px;
  height: 35px;
  width: 35px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  color: black;
  font-weight: normal;
}

.close-btn-trash:hover {
  background-color: var(--peach-puff);
  border-radius: 50%;
  opacity: 0.8;
}

.btn-trash {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 30px;
  font-size: 13px;
}

.btn-trash-danger {
  background-color: var(--light-beige);
  color: #383838;
}

.btn-trash-secondary {
  background-color: transparent;
  color: #777;
  margin-left: 0px;
}


.btn-trash-secondary:hover {
  background-color: transparent;
}

.btn-trash:hover {
  opacity: 0.9; /* Add hover feedback */
}

/* END - MODAL TRASH */


/* START - UNDO MESSAGE */

.undo-button {
  position: fixed;
    bottom: 70px;
    left: 20px;
    background-color: #fffefe;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: none;
    opacity: 1;    /* Fully visible */
    transition: opacity 0.5s ease-out; /* Smooth fade-out transition */
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    height: 7%;
    max-width: 300px;
    z-index: 1000;
}


.undo-button.hide {
  opacity: 0;  /* Fade out */
  pointer-events: none;  /* Prevent any interactions with the element */
}
.undo-button span {
  font-size: 13px; /* Adjusting font size */
  color: #333; /* Dark text color */
  white-space: nowrap; /* Prevent text wrapping */
}

.undo-button button {
  background-color: #eadbc2;
  color: #383838;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  margin-bottom: 20px;
}

.undo-button button:hover {
  background-color: #f1e3ce; /* Darker blue on hover */
}

.close-btn-undo {
  font-size: 25px !important; /* Larger size for the close button */
  color: #777; /* Dark color */
  cursor: pointer;
  margin-left: auto; /* Position it at the right end */
  font-weight: normal;
}

.close-btn-undo:hover {
  color: #383838; /* Red color on hover */
}


/* END- UNDO MESSAGE */


/* START - MODAL FILE INFO */

/* Modal Background Overlay */
.modal-info {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content Box */
.modal-content-info {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  flex-direction: column;
}


/* Modal Title Styling */
.modal-info-title {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
  color: #333;
}

/* Adjust Close Button Position */
.close-btn-info {
  font-size: 30px;
  height: 40px;
  width: 40px;
  font-weight: normal;
  color: #000;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
 
}

.close-btn-info:hover {
  background-color: var(--peach-puff);
  color: #333;
  border-radius: 50%;
}

/* Additional Modal Content Styling */
.file-info-details {
  margin-top: 30px;
}

.file-info-details p {
  font-size: 14px;
  margin: 10px 0;
  color: #383838;
}

.edit-file-info {
  margin-top: 20px;
  margin-left: auto; /* Aligns the button to the right */
  width: 70px;
  background-color: #f8ebd9;
  border-radius: 30px; /* Makes the button more rounded */
  border: none;
  cursor: pointer;
  display: inline-block; /* Keeps the button inline and respects margin-left:auto */
  text-align: center; /* Ensures the text inside the button is centered */
  padding: 10px 0; /* Adds some padding for better button appearance */
  color: #4a4a4a;
}

.edit-file-info:hover {
  background-color: #f7ebdc;
}

/* Styling for labels (e.g., the ones with <strong>) */
.label-info {
  margin-top: 12px; /* Space above the label */
  margin-bottom: 0px !important; /* Minimal space below the label */
  font-weight: bold;
}

/* Styling for values (e.g., the actual file info below labels) */
.value-info {
  margin: 0px; 
  margin-top: 4px !important;
  font-size: 0.9rem; /* Adjust the size if needed */
  color: var(--text-color, #777) !important; /* Optional: adjust color */
}
